* {
    font-family: Xolonium;
    color: white;
    background-color: black;
    font-family: 'Source Sans Pro', sans-serif;
}

.heading {
    font-weight: 600;
}

#alert {
    position: absolute;
    top: 30px;
    border-radius: 10px;
    z-index: 99;
    width: max-content;
    text-align: center;
    padding: 5px;
    float: right;
    right: 250px;
    transition-duration: 800ms;
}

.success {
    color: rgb(66, 187, 66);
}

.failure {
    color: rgb(199, 69, 69);
}

body,
html {
    margin: 0;
}

body {
    position: relative;
    height: 95%;
    padding: 20 50px 100px;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    margin: auto;
    display: inline-flex;
    justify-content: space-between;
    /* box-shadow: 0px 0px 15px 0px red; */
    box-shadow: rgba(71, 70, 70, 0.603) 0px 54px 55px, rgba(63, 61, 61, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    z-index: 99;
}

header * {
    font-size: 1.6rem;
    text-decoration: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Main result body */

#result-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(172, 172, 172);
    top: 80px;
}

#results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 30px;
    height: 100%;
}


/* Cards */

.card-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 450px;
    border: 5px solid rgb(53, 50, 255);
    border-radius: 20px;
    box-shadow: 0px 0px 35px 0px #5a5a5a;
    padding: 5px;
    margin: 10px;
}

.card-img-container img {
    height: 180px;
    width: 180px;
    border-radius: 15px;
}

.card-name {
    padding: 4px;
    padding-top: 8px;
    font-size: 1.4rem;
}

.card-name:hover {
    color: blue;
    transform: scale(1.2);
    cursor: pointer;
    background: transparent;
}


/* Stats */

#stats-container {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
}

#stat-names {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding-right: 10px;
}

#stat-names span {
    display: block;
    padding: 5px;
    padding-left: 15px;
}

#stat-bars {
    width: 90%;
    font-size: .9rem;
}

.bar-container {
    background-color: rgba(0, 0, 0, 0);
    width: 82%;
    padding: 2px 0px 2px 0px;
    margin-top: 3px;
}

.bar {
    border-radius: 10px;
    padding: 2px 0px 2px 0px;
    padding-left: 5px;
    border: 1px solid white;
}

.logo {
    width: 40px;
    margin: 10px;
}

.appName {
    padding-left: 20px;
}

.appName a {
    text-decoration: none;
    color: #911F27;
}

.combat {
    background-color: rgb(238, 6, 6)
}

.durability {
    background-color: rgb(179, 255, 0)
}

.intelligence {
    background-color: rgb(0, 238, 255)
}

.power {
    background-color: rgb(85, 5, 5)
}

.speed {
    background-color: rgb(48, 236, 211)
}

.strength {
    background-color: rgb(25, 0, 255)
}